<%- include("header"); -%>
  <%- include("nav"); -%>
<div class="contact">
  <p>Oudestraat 134 <br>9120 Haasdonk <br>Tel: +32 478 33 17 99<br>museumvermeulen@haasdonk.be </p>
  <h1>Openingstijden</h1>
  <p>LET OP: op advies van de overheid en in navolging van andere musea is het Museum Vermeulen tot nader order gesloten.<br><br>
Dinsdag t/m zaterdag van 11.00 uur tot 17.00 uur.<br>
Zondag van 13.00 uur tot 17.00 uur
LET OP! Op feestdagen hanteren wij aangepaste openingstijden.</p>
  <h1>Contacteer ons voor verdere vragen!</h1>
  <label for="naam">Naam:</label>
  <input type="text" name="naam" value="">
  <label for="email">Email:</label>
  <input type="email" name="email" value="">
  <label for="tel"> Telefoon:</label>
  <input type="tel" name="tel" value="">
  <label for="bericht">Laat hier je bericht achter:</label>
  <textarea name="bericht" rows="6" cols="40"></textarea>
  <input type="submit" value="Verzenden">
</div>


<%- include("footer"); -%>
