<%- include("header"); -%>

<div class="begin">
  <p>Welkom op onze Museum Vermeulen app.
  Geniet van alle designs uit de "Stoelen collectie".</p>

  <div class="nav">
    <a href="/designs">Design</a>
    <a href="/">Tickets</a>
    <a href="/contact">Contact</a>
  </div>
  <p></p>
</div>
